h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: bold;
    font-weight:lighter; 
    font-variant: small-caps;
    color: #2EC789;
    text-align: center;
    vertical-align: text-bottom
}
.div{
    background-color: greenyellow;
    padding-bottom: 50px;
    width: 500px;
    height: 200px;
    display: table;
}
.text
{
    text-align:center; 
    color: red;
}
.article{
    background-color: blueviolet;
    width: 100px;
    height: 200px;
    display: table;
}